<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            margin: 0px auto;
        }

        .row {
            width: 1024px;
            display: inline-block;
        }

    </style>
</head>
<body>
<form action="/doRegister" method="post">
<div id="register">
    <div class="row">
        <input type="text" name="name" placeholder="Name" />
    </div>
    <div class="row">
        <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="row">
        <input type="password" name="password" placeholder="Password" />
    </div>
    <div class="row">
        <input type="submit" name="submit" value="Register" />
    </div>
</div>
</form>
</body>
</html>
